body{
    background-image: url("../imagen/fellbad.jpg"); 
    background-size: cover;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: Call of duty;
}
@font-face {
    font-family: Call of duty;
    src: url("../Fuentes/Call\ of\ Ops\ Duty.otf");
}
h2 {
    font-size: 30px;
    color: 
    #9f8e7a;
}
.fuente-especial2 {
    color: 
    #9f8e7a;
}
.fuente-especial a {
    text-decoration: none;
    color: 
    #9f8e7a;
}
.fuente-colores a {
    text-decoration: none;
    color: 
    #9f8e7a;
}
.border a{
    text-decoration: none;
    color: 
    #9f8e7a;
}